<!-- Título de la sección -->
<h2>By Country</h2>
<hr>
<!-- Fila para la barra de búsqueda -->
<div class="row">
  <div class="col">
    <!-- Componente de barra de búsqueda compartida -->
    <!-- Cuando se emite el evento "onValue", se invoca el método "searchByCountry" -->
    <shared-search-box
      (onValue)="searchByCountry($event)"
      placeholder="Search by Country "
    ></shared-search-box>
  </div>
</div>

<!-- Fila para mostrar los resultados -->
<div class="row">
  <div class="col">
    <hr>
    <!-- Componente de tabla de países compartido -->
    <!-- El arreglo "countries" se pasa como entrada al componente "countries-table" -->
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
